*
{
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
}

html
{
  background-color: #191919;
  height: 100%;

}

.debut
{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5%;
  color: #92999f;
}



.debut img
{
  height: 10%;
  width: 10%;
  border-radius: 100%;
  border-style: solid;
  border-color: grey;
}


nav ul li a
{
  text-decoration: none;
  list-style-type: none;
  height: 100%
}

nav ul
{
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-right: 30%;
  margin-left: 30%;
  height: 20px;
}

li, ul
{
  text-decoration: none;
  list-style-type: none; 
}

nav ul li
{
  display: flex;
  justify-content: center;
  width: 20%;
  height: 100%;
}

nav ul li:nth-child(1) a
{ 
  color:  #8a4646;
}
nav ul li:nth-child(2) a
{ 
  color: #CC9356;
}
nav ul li:nth-child(3) a
{ 
  color: #466c83;
}
nav ul li:nth-child(4) a
{ 
  color: #82a376;
}
nav ul li:nth-child(5) a
{ 
  color: #ac85c8;
}

nav ul li a:hover
{
  border-bottom: solid 2px;
}

.moi
{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  color: #92999f;
}

.blanc
{
  color: #92999f;
}
.vert
{
  color: #82a376;
}
.bleu
{
  color: #466c83;
}
.orange
{
  color: #CC9356;
}
.violet
{
  color: #ac85c8;
}
.rouge
{
  color: #8a4646;
}

.formation, .experience, .langues, .competences
{
  display: flex;
  width: 50%;
  flex-direction: column;
  margin-right: 25%;
  margin-left: 25%;
  color: #92999f;
  margin-top: 2%;
}



h3
{
  font-size: 1.2em;
  padding-bottom: 2%;
}

.langue_pies
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
}

.piefr
{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #101010;
  background-image: linear-gradient(to right, transparent 50%, #82a376 0);
}

.piefr::before
{
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  background: #82a376;
  border-radius: 0 100% 100% 0 /50%;
  transform-origin: left;
  transform: rotate(.35turn); 
}
.pieang
{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #101010;
  background-image: linear-gradient(to right, transparent 50%, #466c83 0);
}

.pieang::before
{
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  background: #466c83;
  border-radius: 0 100% 100% 0 /50%;
  transform-origin: left;
  transform: rotate(.1turn); 
}
.pieall
{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #101010;
  background-image: linear-gradient(to right, transparent 50%, #ac85c8 0);
}

.pieall::before
{
  content: '';
  display: block;
  margin-left: 50%;
  height: 101%;
  background: #101010;
  border-radius: 0 100% 100% 0 /50%;
  transform-origin: left;
  transform: rotate(.4turn); 
}



.ang, .fr, .all
{
  display: flex;
  align-items: flex-end;
}



.competences li
{
  margin: 20px 0;
}


.htmlc
{
  color: #8a4646;
}

.pythonc
{
  color: #82a376;
}

.javac
{
  color: #ac85c8;
}

.cc
{
  color: #CC9356;
}

.sqlc
{
  color: #466c83;
}



.barhtml{
  background-color: #353b48;
  display: flex;
  width: 60%;
  height: 2px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 4px #8a4646;
}
.barpython{
  background-color: #353b48;
  display: flex;
  width: 60%;
  height: 2px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 4px #82a376;
}
.barjava{
  background-color: #353b48;
  display: flex;
  width: 60%;
  height: 2px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 4px #ac85c8b3;
}
.barc{
  background-color: #353b48;
  display: flex;
  width: 60%;
  height: 2px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 4px #CC9356b3;
}
.barsql{
  background-color: #353b48;
  display: flex;
  width: 60%;
  height: 2px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 4px #466c83b3;
}

.barhtml span
{
  height: 2px;
  float: left;
  background-color: #8a4646;
}

.barjava span
{
  height: 2px;
  float: left;
  background-color: #ac85c8;
}
.barpython span
{
  height: 2px;
  float: left;
  background-color: #82a376;
}
.barc span
{
  height: 2px;
  float: left;
  background-color: #CC9356;
}
.barsql span
{
  height: 2px;
  float: left;
  background-color: #466c83;
}

.html
{
  width: 65%;
  animation: html 1s;
}
.python
{
  width: 30%;
  animation: python 0.5s;
}
.java
{
  width: 20%;
  animation: java 1.5s;
}
.sql
{
  width: 20%;
  animation: sql 2.5s;
}
.c
{
  width: 25%;
  animation: c 2s;
}

@keyframes html {
  0%
  {
    width: 0%;
  }
  100%
  {
    width: 65%;
  }
}

@keyframes css {
  0%
  {
    width: 0%;
  }
  100%
  {
    width: 60%;
  }
}

@keyframes python {
  0%
  {
    width: 0%;
  }
  100%
  {
    width: 30%;
  }
}

@keyframes java {
  0%
  {
    width: 0%;
  }
  100%
  {
    width: 20%;
  }
}

@keyframes c {
  0%
  {
    width: 0%;
  }
  100%
  {
    width: 25%;
  }
}

@keyframes sql {
  0%
  {
    width: 0%;
  }
  100%
  {
    width: 20%;
  }
}

