*
{
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
}

html
{
  background-color: #191919;
  height: 100%;

}

.debut
{
  background-image: url(images/fond23.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20%;
  color: white;
}



.debut img
{
  height: 10%;
  width: 10%;
  border-radius: 100%;
  border-style: solid;
  border-color: grey;
}

.debut h2
{

}

nav ul li a
{
  text-decoration: none;
  list-style-type: none;
  height: 100%
}

nav ul
{
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-right: 30%;
  margin-left: 30%;
  height: 20px;
}

li, ul
{
  text-decoration: none;
  list-style-type: none; 
}

nav ul li
{
  display: flex;
  justify-content: center;
  width: 20%;
  height: 100%;
}

nav ul li:nth-child(1) a
{ 
  color:  white;
}
nav ul li:nth-child(2) a
{ 
  color: #afef00;
}
nav ul li:nth-child(3) a
{ 
  color: #00b0fb;
}
nav ul li:nth-child(4) a
{ 
  color: #f60029;
}
nav ul li:nth-child(5) a
{ 
  color: #780afe;
}

nav ul li a:hover
{
  border-bottom: solid 2px;
}

.moi
{
  display: flex;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
}