*
{
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
}

html
{
  background-color: #191919;
  height: 100%;

}

.debut
{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5%;
  color: white;
}



.debut img
{
  height: 10%;
  width: 10%;
  border-radius: 100%;
  border-style: solid;
  border-color: grey;
}

.debut h2
{

}

nav ul li a
{
  text-decoration: none;
  list-style-type: none;
  height: 100%
}

nav ul
{
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-right: 30%;
  margin-left: 30%;
  height: 20px;
}

li, ul
{
  text-decoration: none;
  list-style-type: none; 
}

nav ul li
{
  display: flex;
  justify-content: center;
  width: 20%;
  height: 100%;
}

nav ul li:nth-child(1) a
{ 
  color:  white;
}
nav ul li:nth-child(2) a
{ 
  color: #afef00;
}
nav ul li:nth-child(3) a
{ 
  color: #00b0fb;
}
nav ul li:nth-child(4) a
{ 
  color: #f60029;
}
nav ul li:nth-child(5) a
{ 
  color: #780afe;
}

nav ul li a:hover
{
  border-bottom: solid 2px;
}

.moi
{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  color: white;
}

.blanc
{
  color: white;
}
.vert
{
  color: #afef00;
}
.bleu
{
  color: #00b0fb;
}
.rouge
{
  color: #f60029;
}
.violet
{
  color: #780afe;
}

.formation, .experience, .langues
{
  display: flex;
  width: 50%;
  flex-direction: column;
  margin-right: 25%;
  margin-left: 25%;
  color: white;
  margin-top: 2%;
}

h3
{
  font-size: 1.2em;
  padding-bottom: 2%;
}

.langue_pies
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
}

.piefr
{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #101010;
  background-image: linear-gradient(to right, transparent 50%, #00b0fb 0);
}

.piefr::before
{
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  background: #00b0fb;
  border-radius: 0 100% 100% 0 /50%;
  transform-origin: left;
  transform: rotate(.35turn); 
}
.pieang
{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #101010;
  background-image: linear-gradient(to right, transparent 50%, #afef00 0);
}

.pieang::before
{
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  background: #afef00;
  border-radius: 0 100% 100% 0 /50%;
  transform-origin: left;
  transform: rotate(.1turn); 
}
.pieall
{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #101010;
  background-image: linear-gradient(to right, transparent 50%, #780afe 0);
}

.pieall::before
{
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  background: #101010;
  border-radius: 0 100% 100% 0 /50%;
  transform-origin: left;
  transform: rotate(.4turn); 
}


.ang, .fr, .all
{
  display: flex;
  align-items: flex-end;
}
